---
import FacebookIcon from './SocialElements/FacebookIcon.astro'
import InstagramIcon from './SocialElements/InstagramIcon.astro'
import SocialCard from './SocialElements/SocialCard.astro'
import TikTokIcon from './SocialElements/TikTokIcon.astro'
import TwitterIcon from './SocialElements/TwitterIcon.astro'

const socialLinks = {
  instagram: {
    tag: '@creemoscapital',
    link: 'https://www.instagram.com/creemoscapital/'
  },
  facebook: {
    tag: '@creemoscapital',
    link: 'https://www.facebook.com/people/Creemos-Capital/61564167813649/'
  },
  twitter: {
    tag: '@creemoscapital',
    link: 'https://x.com/creemoscapital'
  },
  tiktok: {
    tag: '@creemoscapital',
    link: 'https://www.tiktok.com/@creemoscapital'
  }
}
---

<section class='w-full h-auto space-y-10 my-20 max-[640px]:px-4'>
  <h1 class='text-[80px] leading-20 font-semibold text-center'>
    Explora las redes en las que nos puedes encontrar
  </h1>
  <section
    class='flex justify-center gap-5 py-10 px-5 max-[1024px]:flex-col max-[1024px]:items-center max-[640px]:gap-6 max-[640px]:py-6'
  >
    <section class='flex flex-col gap-5'>
      <div
        class='w-[600px] md:w-[450px] h-[350px] bg-[var(--primary-gray-color)]/85 border-2 border-[var(--third-gray-color)] rounded-4xl py-14 px-10 space-y-5'
      >
        <h2 class='text-h2 font-semibold'>YouTube</h2>
        <p class='leading-7 text-xl md:text-md'>
          Canal de YouTube donde se publican tutoriales, análisis y contenido
          educativo relacionado con trading.
        </p>
        <a
          href='https://www.youtube.com/@CreemosCapital'
          target='_blank'
          class='text-[var(--secondary-blue-color)] underline text-lg md:text-md'
        >
          Echar un vistazo
        </a>
      </div>
      <div
        class='w-[600px] md:w-[450px] h-[350px] bg-[var(--primary-gray-color)]/85 border-2 border-[var(--third-gray-color)] rounded-4xl py-14 px-10 space-y-5'
      >
        <h2 class='text-h2 font-semibold'>Telegram</h2>
        <p class='leading-7 text-xl md:text-md'>
          Plataforma de mensajería en la que se encuentran los grupos y chats de
          la comunidad.
        </p>
        <a
          href='https://t.me/creemoscapitaloficial'
          target='_blank'
          class='text-[var(--secondary-blue-color)] underline text-lg md:text-md'
        >
          Echar un vistazo
        </a>
      </div>
    </section>
    <div
      class='w-[600px] md:w-[450px] h-auto bg-[var(--primary-gray-color)]/85 border-2 border-[var(--third-gray-color)] rounded-4xl py-14 px-10 space-y-5'
    >
      <h2 class='text-h2 font-semibold'>Redes Sociales</h2>
      <p class='leading-7 text-xl md:text-md mb-10'>
        Esta son las redes oficiales donde se comparte la mayoria de contenido
        de importancia a la comunidad, no caigas en sitios no oficiales y evita
        caer en sus estafas.
      </p>

      <section class='flex flex-col gap-8 max-[640px]:gap-5'>
        <SocialCard
          name={socialLinks.instagram.tag}
          link={socialLinks.instagram.link}><InstagramIcon /></SocialCard
        >
        <SocialCard
          name={socialLinks.facebook.tag}
          link={socialLinks.facebook.link}><FacebookIcon /></SocialCard
        >
        <SocialCard
          name={socialLinks.twitter.tag}
          link={socialLinks.twitter.link}><TwitterIcon /></SocialCard
        >
        <SocialCard name={socialLinks.tiktok.tag} link={socialLinks.tiktok.link}
          ><TikTokIcon /></SocialCard
        >
      </section>
    </div>
  </section>
</section>
